<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersonalSignin_DB_.netFramework_.Properties.Settings.PersonalDataBaseConnectionString"
            connectionString="Data Source=DOGUKAN\SQLEXPRESS;Initial Catalog=PersonalDataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>